service cloud.firestore
{
  match /databases/{database}/documents
  {
    match /games/{gameId}
    {
      allow read;
      allow write: if request.resource.data.keys().hasAll( [ 'nextCardIndex' ] )
                   && request.resource.data.size() == 1
                   && request.resource.data.nextCardIndex is int
                   && request.resource.data.nextCardIndex >= 0;

      match /cards/{cardId}
      {
        allow read;
        allow write: if request.resource.data.keys().hasAll( [ 'faceDown', 'index', 'rank', 'suit', 'x', 'y' ] )
                     && request.resource.data.size() == 6
                     && request.resource.data.faceDown is bool
                     && request.resource.data.index is int
                     && request.resource.data.index >= 0
                     && request.resource.data.rank is string
                     && request.resource.data.suit is string
                     && request.resource.data.x is float
                     && request.resource.data.y is float;
      }
    }
  }
}
