.playing-card
{
  position: absolute;
  background: white;
  border-radius: 4px;
  box-shadow: -1px 1px 1px 0px #c5c5c588;
  user-select: none;

  transition: transform 250ms;
}

.playing-card.selected
{
  box-shadow: 0px 0px 5px 2px #1ea9ff;
}

.playing-card.face-up
{
  border: 1px solid darkgray;
  transform: rotate3d( 0, 1, 0, 0deg );
}

.playing-card.face-down
{
  border: 1px solid gray;

  /* Background pattern from Subtle Patterns */
  /* https://www.toptal.com/designers/subtlepatterns/random-grey-variations/ */
  background: url( './random_grey_variations.png' );
  transform: rotate3d( 0, 1, 0, 180deg );
}

.playing-card svg
{
  position: absolute;
  transform: translate( -50%, -50% );
}

.rank-text,
.rank-text-inverse
{
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}

.rank-text
{
  left: 4px;
  top: 4px;
}

.rank-text-inverse
{
  right: 4px;
  bottom: 4px;
  transform: rotate( 180deg );
}